.results {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 400px;
  height: 300px;
}
.loader {
  text-align: center;
  margin-top: 10%;
}
.loader i {
  font-size: 1.3rem;
  display: inline-block;
  -webkit-animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
