<div class="navbar">
  <form>
    <div class="search__container">
      <div class="search__input--wrapper">
        <span class="search__icon">
          <i class="icon-search"></i>
        </span>
        <input type="text" name="search" [(ngModel)]="searchedText" placeholder="Search" (ngModelChange)="userQuerying()" #search
          autofocus>
      </div>
      <button class="filter" (click)="showFilter=!showFilter">Filter
        <i class="icon-filter"></i>
      </button>
    </div>
    <div class="filter__container" [ngClass]={show__filter:showFilter}>
      <!-- radio buttons to select category -->
      <div *ngFor="let category of categories" class="category__radio">
        <label [for]="category" [ngClass]="{'category__selected':searchedType==category,'category__not--selected':searchedType!=category}">
          <input type="radio" [value]="category" [(ngModel)]="searchedType" [id]="category" name="category" (ngModelChange)="userQuerying()"> {{category}}
        </label>
      </div>
    </div>
  </form>
</div>
