.navbar {
  border-top: 5px solid var(--base);
}

.search__container {
  height: 95px;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search__input--wrapper {
  width: 30%;
}

.filter,
[name='search'] {
  outline: 0;
  border: 0;
  background: transparent;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

[name='search'] {
  border-bottom: 2px solid var(--base);
  color: rgba(255, 255, 255, 0.9);
  padding: 0 0 1% 3%;
  width: 50%;
  transition: width 300ms ease-in;
}

[name='search']:focus {
  width: 70%;
}

.search__icon {
  font-size: 1.1rem;
  border-bottom: 2px solid var(--base);
  padding-bottom: 1%;
}

::placeholder {
  color: var(--base);
}

.filter {
  color: var(--base);
  cursor: pointer;
  display: flex;
}
.filter {
  transition: color 300ms;
}
.filter:hover {
  color: rgba(255, 255, 255, 0.9);
}

.icon-filter:before,
.icon-search:before {
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 4px;
}
.filter__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 0;
  background: rgba(0, 0, 0, 0.1);
  transform: rotateX(90deg);
  transform-origin: top;
  transition: all 200ms ease-in;
}

.show__filter {
  transform: rotateX(0deg);
  height: 200px;
}

.category__radio {
  margin: 4% 0;
}
.category__radio label {
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition: color 300ms ease-in;
}

.category__radio input {
  margin-right: 5px;
  position: relative;
  top: -3px;
  display: none;
}

.category__selected {
  color: var(--base);
}

.category__not--selected {
  color: rgba(0, 0, 0, 0.75);
}

@media (min-width: 576px) {
  .filter__container {
    justify-content: space-around;
    flex-direction: row;
  }
  .show__filter {
    height: 150px;
  }
  .category__radio {
    margin: 0;
  }
}
