
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */