.wrapper {
  padding: 5% 0;
  background-color: #f2f2f2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2331672f' fill-opacity='0.36' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.details__container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 120vh;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.18);
  background: #fff;
  padding: 2%;
  border-radius: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  padding: 1%;
}

.back {
  border: 0;
  outline: 0;
  padding: 9px 18px;
  color: var(--base);
  background: rgba(49, 103, 47, 0.2);
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 2px solid rgba(49, 103, 47, 0.6);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-back:before {
  color: var(--base);
}
.back:hover {
  transform: translateY(2px);
  border-bottom-color: #fff;
}

.search {
  cursor: pointer;
  color: var(--base);
}

.search i {
  color: var(--base);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3% 0;
}

.name {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.8);
}
.header img {
  width: 50%;
  height: 300px;
  display: inline-block;
}

.map {
  margin-bottom: 3%;
}
.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.common {
  flex: 0 0 45%;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.18);
  height: 2%;
  padding: 2%;
  margin-bottom: 3%;
}

.key,
.value {
  width: 50%;
  display: inline-block;
  margin: 6% 0;
  word-wrap: break-word;
  word-break: break-word;
}

.label {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}
.key {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.9);
  border-left: 2px dotted rgba(0, 0, 0, 0.9);
  padding-left: 4%;
}

.value {
  color: rgba(0, 0, 0, 0.8);
  border-right: 2px dotted rgba(0, 0, 0, 0.8);
  padding-right: 4%;
  text-align: right;
}

.value * {
  color: rgba(0, 0, 0, 0.8);
}

.header {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
}
.row {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
}
.translations {
  width: 100%;
}

.translations a {
  margin-left: 3%;
  font-size: 0.8rem;
  color: var(--base);
  text-decoration: underline;
  cursor: pointer;
}

.translation > .key,
.translation > .value {
  margin: 4% 0;
}
