<div class="wrapper">
  <div class="details__container">
    <div class="nav">
      <button class="back" (click)="goBack()">
        <i class="icon-back"></i>Back</button>
      <div class="search" [routerLink]="['/']">
        <i class="icon-search"></i>Search</div>
    </div>
    <div class="details">
      <div class="header">
        <div class="name">{{searchedData.name}}</div>
        <img [src]="searchedData.flag" [alt]="searchedData.name.toLowerCase()">
      </div>
      <agm-map style="height: 300px" [latitude]="searchedData.latlng[0]" [longitude]="searchedData.latlng[1]">
        <agm-marker [latitude]="51.673858" [longitude]="7.815982">
          <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
            <ng-template>
              My first Snazzy Info Window!
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
      <div class="cards__container">
        <div class="names">
          <span class="label">Names</span>

        </div>
        <div class="language">
          <span class="label">Language</span>
        </div>
      </div>
    </div>
  </div>
</div>
